@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply border border-solid border-teal-500 px-4 py-2 rounded-md hover:bg-teal-500 hover:text-white transition-all duration-500;
}
.btn-country {
    @apply border border-solid border-rose-500 px-4 py-2 rounded-md hover:bg-rose-500 hover:text-white transition-all duration-500;
}

  
.container-register{
    background-color: rgba(105, 104, 104, 0.456);
    border-radius: 12px;
    display: none;
    
    
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    
    padding: 40px;
    
    justify-content: center;

    align-items: center;
}
.user-contacts{
    top: 50px;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    margin: 15px 0;
    text-align: left;
}
.contacts-title{
    font-size: 23px;
    font-weight: 700;
    line-height: 25px;
    position: relative;
    color:rgb(236, 56, 86) ;
    padding-right: 30px;
    margin-bottom: 5px;
}
input {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(109, 111, 111);

}
.input {
    color: #1b847d;
    background:rgb(233, 253, 249);
    width: 100%;
    padding-right: 9px;
    height: 50px;
    border-radius: 5px;
}
.p-input {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}